
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

.container {
	background-color: black;
	color: red;
	font-family: 'Indie Flower', cursive;
	margin: 0 auto;
	max-width: 960px;
	text-align: center;
	padding: 20px;
	left: 200px;
}

h3 {
	font-size: 1.5em;
}

table {
	display: inline-block;
	padding: 20px;
}

button {
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
	height: 70px;
	width: 100px;
	background-color: yellow;
	color: grey;
	border-radius: 10%;
	border: 1px solid black;
}

button.active {
	background-color: red;
	color: black;
	text-decoration: underline;
	font-weight: bold;
	font-size: 3em;

}

button#clear {
	width: 200px;
}

td {
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
	height: 100px;
	width: 100px;
	background-color: teal;
	border-radius: 10%;
	border: 1px solid black;
}

td:hover{
	background-color: pink;
}

.visited {
	background-color: gainsboro;
	color: blue;
	pointer-events: none;
}

#message {
	font-size: 3em;
	font-weight: bold;
}

.theButtons {

}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
