
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

.container {
	background-color: #BFF087;
	color: #BE0082;
	font-family: 'Indie Flower', cursive;
	margin: 0 auto;
	max-width: 960px;
	text-align: center;
	padding: 20px;
	left: 200px;
}

h1 {
	font-size: 3em;
}

h3 {
	font-size: 1.8em;
	margin: 0;
	padding: 0;
}

table {
	display: inline-block;
	padding: 20px;
}

button {
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
	height: 70px;
	width: 100px;
	background-color: teal;
	color: yellow;
	border-radius: 10%;
	border: 1px solid black;
}

button.active {
	background-color: red;
	color: black;
	text-decoration: underline;
	font-weight: bold;
	font-size: 3em;

}

button#clear {
	width: 200px;
}

td {
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
	height: 100px;
	width: 100px;
	background-color: #3E496C;
	border-radius: 10%;
	border: 1px solid black;
}

td:hover{
	background-color: pink;
}

.visited {
	background-color: yellow;
	color: red;
	pointer-events: none;
	font-size: 3em;
	font-weight: bold;
	
}

.notAllowed {
	pointer-events: none;
}

.visited.appear {
	transition: all 1s ease-in-out;
	
}

#message {
	font-size: 3em;
	font-weight: bold;
}

.connect li {
	display: inline;
	padding: 20px;
	font-size: 2em;
}

a {
	text-decoration: none;
	color: #BE0082;
}

a:hover {
	color: blue;
}