/*css styles for te 2 player game*/
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

.container {
	background-color: #3E496C;
	color: #FF5E6C;
	font-family: 'Indie Flower', cursive;
	margin: 0 auto;
	max-width: 960px;
	text-align: center;
	padding: 20px;
	left: 200px;
	box-sizing: border-box;
}

h1 {
	font-size: 3em;
}

h3 {
	font-size: 1.8em;
}

table {
	display: inline-block;
	padding: 20px;
}

button {
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
	height: 70px;
	width: 100px;
	background-color: #F6ED76;
	color: grey;
	border-radius: 10%;
	border: 1px solid black;
}

button.active {
	background-color: red;
	color: black;
	font-weight: bold;
	font-size: 3em;

}

button#clear {
	width: 200px;
}

td {
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
	height: 100px;
	width: 100px;
	background-color: #47C370;
	border-radius: 10%;
	border: 1px solid black;
	color: teal;
}

td:hover{
	background-color: pink;
}

.visited {
	background-color: gainsboro;
	color: blue;
	font-size: 3em;
	font-weight: bold;
	pointer-events: none;
}

.notAllowed {
	pointer-events: none;
}

#message {
	font-size: 3em;
	font-weight: bold;
}

.connect li {
	display: inline;
	padding: 20px;
	font-size: 2em;
}

a {
	text-decoration: none;
	color: #FF5E6C;
}

a:hover {
	color: #E3F9FE;
}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/*to make the buttons blink*/
@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
